extends layout

block content
  h1= title
  p Welcome to #{title}
  .row
    div#panel.col-xs-12
      input(type='checkbox', id='newDest')
      |  A new place
      br
      button(class='btn btn-success col-sm-12', id="iAmWalking") Going for an Aimless Walk?
      b End
      select#end(onchange='calcRoute();')
        option(value=start) Same As Start
        option(type="text", value='cheeseman park denver, co 80218') Cheese
    #map-canvas.col-xs-10
    #warnings_panel(style='width:100%;height:10%;text-align:center')