extends layout

block content
  .container
    .row
      #logo.center-block
        img(src='../images/Aimless.svg', alt='Aimless', class="col-xs-12 logo")
    .row
      p.col-xs-12.readText Going for an aimless walk? Simply select the time you need to be back by and we'll let you know when and how to go back.
    
      // div.col-sm-12 Sign in to store your walks and see how much area you've explored!
      //   form(action="/auth/login", method="post")
      //     input(type="email", name="email", placeholder="email")
      //     input(type="password", name="password", placeholder="Password")
      //     input(class="btn btn-primary",type="submit")
    .row
      div#panel
        .col-xs-6
          input(type="time", id="timeToReturn", required)
        .col-xs-6.btnDiv
          button.btn.btn-primary#newDestBtn
            label(for="newDest") 
              | Change Destination
              input(type='checkbox', id='newDest')
        .col-xs-6.slider.closed
          input(type="text", placeholder="Your New Destination...", id="theirNewDest")
    .row#successAndDone 
      button(class='btn btn-success col-xs-12 theMainBtn', id="iAmWalking") I'm ready to get lost!
    .row#mapRow
      .col-xs-offset-1.col-xs-10
        #map-canvas
    .row
      #directionsPanel.col-xs-offset-2.col-xs-8
    .row
      #warnings_panel(style='width:100%;height:10%;text-align:center')
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      #phone.modal-dialog
        #innerModalDiv.modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title This is your phone:
          .modal-body
            | IT'S VIBRATING :)
            br
            br
            | YOU'RE NO LONGER AIMLESS 
            br
            br
            | TAKE AIM FOR YOUR DESTINATION!!!
          .modal-footer
