extends layout

block content
  h1= title
  p Welcome to #{title}! Simply 
  .row
    // div.col-sm-12 Sign in to store your walks and see how much area you've explored!
    //   form(action="/auth/login", method="post")
    //     input(type="email", name="email", placeholder="email")
    //     input(type="password", name="password", placeholder="Password")
    //     input(class="btn btn-primary",type="submit")
    div#panel.col-xs-12
      input(type="time", id="timeToReturn", required)
      input(type='checkbox', id='newDest')
      |  A new place
      br
      input(type="text", placeholder="Your Destination...", id="theirNewDest")
      button(class='btn btn-success col-sm-12', id="iAmWalking") Going for an Aimless Walk?
    #map-canvas.col-xs-12
    #directionsPanel.col-xs-12
    #warnings_panel(style='width:100%;height:10%;text-align:center')
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      #phone.modal-dialog
        #innerModalDiv.modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title This is your phone:
          .modal-body
            | IT'S VIBRATING
          .modal-footer
