body {
  padding-top: 60px;
  font-size: 17px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: center;
  /*background-color: #402300;*/
  background: url('/images/JakeGivenSunsetPark.jpeg') 65% 0 no-repeat, 
              url('/images/JakeGivenSunsetParkUpside.jpeg') 0 1534px no-repeat;
  /*background-position: 65% 0;*/
}
/*.jumbotron*/
.topTron {
  background-color: rgba(0,0,0,0);
  margin-bottom: 0;
}
/*.jumbotron*/
.bottomTron{
  background-color: rgba(0,0,0,0);
  padding-top: 0;
}
p.readText {
  font-size: 1.2em;
  color: #004363;
  background-color: rgba(255,255,255,.35);
  padding: 15px;
  margin: 0;
}
button {
  font-size: 24px;
}

button label{
  cursor: pointer;
  font-weight: normal;
  display: block;
  padding: 9.5px 0;
  margin: 0;
}
#panel button {
  font-size: 1.2em;
  vertical-align: middle;
  text-align: center;
  border: 0;
}

.row button label input {
  display: none;
}

.row {
  padding-bottom: 15px;
}

#panel {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas{
  height: 330px;
  width: 330px;
  margin: 0;
  padding: 0;
}

#warnings_panel{
  display: none;
}

.adp-warnbox{
  display: none;
}

/*fake vibrate for demonstration*/
/*@-webkit-keyframes spaceboots {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

#myModal{

  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

#innerModalDiv{
  border: 15px solid black;
  border-bottom: 50px solid black;
  border-top: 30px solid black;
  height: 615px;
  width: 330px;
}*/
/*end fake vibrate for demonstration*/

.logo{
  margin: 0 auto;
  opacity: .9;
}
input{
  border: 1px solid #2e6da4;
  opacity: 0.7;
}
input#timeToReturn{
  font-size: 3.5em;
  line-height:100%;
  padding:0;
  margin-left: 1px;
}
input#theirNewDest{
  /*display: none;*/
  /*margin: 12px 0 0 0;*/
  height: 45px;
  font-size: 1.6em;
  width: 100%;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
  }
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .7; }
  }
  @-moz-keyframes fadein { /* Firefox */
      from {
          opacity:0;
      }
      to {
          opacity:.7;
      }
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
      from {
          opacity:0;
      }
      to {
          opacity:.7;
      }
  }
  @-o-keyframes fadein { /* Opera */
      from {
          opacity:0;
      }
      to {
          opacity: .7;
      }
}

#newDestBtn{
  padding: 0;
  width: 100%;
  height: 47px;
  font-size: 1.2em
}

#directionsPanel{
  text-align:left;
}

/*#successAndDone{
  margin: 0;
  padding: 0;
}*/

.theMainBtn{
  width: 100%;
  font-size: 1.2em;
  height: 72px;
  opacity: 1;
}
.btn{
  opacity: 0.7;
  border-color: transparent;
  border-radius: 0;
  background-color: #004363;
}
/*.btn-success{
  background-color: #004363;
}
.btn-success:hover{
  background-color: #004363;
}

.btn-primary{
  background-color: #004363;
  
}
.btn-primary:hover{
  background-color: #004363;
}*/
.row.hiddenInput{
  display: none;
}
#directionsPanel{
  color: #004363;
  background-color: rgba(255,255,255, 0.45);
}
#iAmWalking{
  background-color: #27ae60;
}
#iAmReturning{
  background-color: #c0392b;
}
#whileWalking{
  background-color: #C46200;
}